body{
  background-color: #343a40;
  background-image: url("../img/fond.png");
  background-size: cover;
}

.pageValidation {
  margin-top: 10%;
  text-align: center;
  background-color: rgba(229, 229, 229, 0.9);
  font-size: 15pt;
  border-radius: 10px;
}

a {
  color: #343a40;
  font-family: sans-serif;
}

a:hover {
  color: white;
}

p {
  font-family: sans-serif;
  color: #343a40;
  padding-top: 20px;
  padding-bottom: 20px;
}
